.running{
    width: 100%;
    height:75%;
}

.body{
    background-color:blue;
}

.text{
    color:black;
    text-align: center;
    font-family: monospace;
}


.welcomeTooth{
    display:flex;
    justify-content:left;
    padding-left: 10%;
}

.blueBody{

    background-color: blue;
}

#label{
    text-align:center;
    color:white;

}